@keyframes kofi-wiggle {
  0% {
    transform: rotate(0) scale(1);
  }
  60% {
    transform: rotate(0) scale(1);
  }
  75% {
    transform: rotate(0) scale(1.12);
  }
  80% {
    transform: rotate(0) scale(1.1);
  }
  84% {
    transform: rotate(-10deg) scale(1.1);
  }
  88% {
    transform: rotate(10deg) scale(1.1);
  }
  92% {
    transform: rotate(-10deg) scale(1.1);
  }
  96% {
    transform: rotate(10deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
.header-panel {
  margin-top: 25px;
}
.header-panel h2 {
  margin-top: 0;
  color: #fff;
  font-size: 26px;
  margin-bottom: 12px;
}
.header-panel span {
  color: #fff;
}
.header-panel span a {
  color: #fff;
}
.header-panel .rsmt-panel {
  background-color: #91cbd8;
  background: linear-gradient(90deg, #91cbd8 72%, #96c9a0 99%);
  border-radius: 0.5rem;
}

.resmush-settings-ui {
  /*select quality buttons*/
  /*notice to seleect new quality settings*/
}
.resmush-settings-ui .nav-block {
  background: #fff;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.resmush-settings-ui .nav-block .rsmt-tabs-nav {
  list-style: none;
  margin-top: 50px;
}
.resmush-settings-ui .nav-block .rsmt-tabs-nav li {
  font-weight: 700;
  background: #fff;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  margin: 10px 0;
  padding: 5px 5px 5px 30px;
}
.resmush-settings-ui .nav-block .rsmt-tabs-nav li.active {
  color: rgb(26, 189, 202);
}
.resmush-settings-ui .nav-block .rsmt-tabs-nav li a {
  text-decoration: none;
  color: #3c434a;
}
.resmush-settings-ui .nav-block .rsmt-tabs-nav li .kofi-support {
  padding: 8px;
  line-height: 15px;
  vertical-align: bottom;
  border: 1px solid #1abdca;
  border-radius: 6px;
  width: 120px;
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
}
.resmush-settings-ui .nav-block .rsmt-tabs-nav li .kofi-support img {
  vertical-align: bottom;
  animation: kofi-wiggle 3s infinite;
}
.resmush-settings-ui .nav-block .rsmt-tabs-nav li .kofi-support .text {
  font-size: 14px;
  letter-spacing: -0.15px;
  margin-left: 2px;
  color: #1abdca;
}
@media (max-width: 1100px) {
  .resmush-settings-ui .nav-block .rsmt-tabs-nav li {
    float: left;
  }
  .resmush-settings-ui .nav-block .rsmt-tabs-nav .kofi-support {
    margin-top: -5px;
  }
}
@media (max-width: 560px) {
  .resmush-settings-ui .nav-block .rsmt-tabs-nav li {
    float: none;
  }
}
.resmush-settings-ui .rsmt-cols {
  background: #fff;
  min-height: 500px;
}
.resmush-settings-ui .rsmt-cols.rsmt-tab {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.resmush-settings-ui .rsmt-cols .rsmt-panel {
  margin-bottom: 0;
  padding-left: 36px;
  border-radius: 0 0.5rem 0.5rem 0;
}
.resmush-settings-ui .rsmt-cols .rsmt-panel h2.unoptimizedimages {
  margin-top: 0;
}
.resmush-settings-ui .rsmt-cols .rsmt-panel:last-child {
  margin-bottom: 0;
}
.resmush-settings-ui .rsmt-cols.message-wrapper {
  background: none;
}
@media (max-width: 1100px) {
  .resmush-settings-ui .rsmt-cols {
    min-height: 0;
  }
}
.resmush-settings-ui .rsmt-settings input[type=checkbox] {
  margin-right: 6px;
}
.resmush-settings-ui .rsmt-settings span {
  display: block;
}
.resmush-settings-ui .rsmt-settings .number-small {
  width: 70px;
  margin-top: 0;
}
.resmush-settings-ui .shortpixel-message {
  background-color: #e6faff;
  color: #1ABDCA;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-left: 12px;
  padding: 16px;
}
.resmush-settings-ui .shortpixel-message img {
  width: 100%;
}
.resmush-settings-ui .shortpixel-message ul {
  list-style: none;
}
.resmush-settings-ui .shortpixel-message ul li {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
}
.resmush-settings-ui .shortpixel-message .button-wrapper {
  text-align: center;
  margin: 36px 0 10px;
}
.resmush-settings-ui .shortpixel-message .button-wrapper a {
  font-size: 20px;
  padding: 8px 8px;
  width: 60%;
  font-weight: 700;
  color: #1ABDCA;
  border-color: #1ABDCA;
}
.resmush-settings-ui .shortpixel-message .button-wrapper a:hover {
  background-color: #1ABDCA;
  color: #e6faff;
}
.resmush-settings-ui .shortpixel-message .link-under {
  text-align: center;
  margin-bottom: 16px;
}
.resmush-settings-ui .shortpixel-message .link-under a {
  color: #1ABDCA;
}
@media (max-width: 1100px) {
  .resmush-settings-ui .shortpixel-message {
    max-width: 500px;
    margin: 50px auto;
  }
}
.resmush-settings-ui .rsmt-tab-feedback ul {
  list-style: none;
}
.resmush-settings-ui .rsmt-tab-feedback ul li:before {
  content: "\f147";
  font-family: "dashicons";
  font-size: 18px;
  vertical-align: bottom;
  line-height: 18px;
  margin-right: 4px;
}
.resmush-settings-ui .rsmt-tab-actions .support {
  padding-left: 60px;
}
.resmush-settings-ui .quality-buttons {
  display: flex;
  flex-wrap: wrap;
}
.resmush-settings-ui .quality-buttons .quality-button {
  background-color: #e0f7fa;
  border: 1px solid #00796b;
  color: #00796b;
  font-weight: bold;
  padding: 8px 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}
.resmush-settings-ui .quality-buttons .quality-button:hover {
  background-color: #b2ebf2;
  color: #004d40;
}
.resmush-settings-ui .quality-buttons .quality-button.active {
  background-color: #00796b;
  color: #ffffff;
  font-weight: bold;
}
@media (max-width: 600px) {
  .resmush-settings-ui .quality-buttons .quality-button {
    flex: 1 1 100%;
    border-radius: 5px;
  }
}
@media (min-width: 601px) {
  .resmush-settings-ui .quality-buttons .quality-button {
    flex: 1;
    border-radius: 0;
  }
  .resmush-settings-ui .quality-buttons .quality-button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .resmush-settings-ui .quality-buttons .quality-button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .resmush-settings-ui .quality-buttons .quality-button:not(:last-child) {
    border-right: none;
  }
}
.resmush-settings-ui .update-nag {
  background-color: #ffffe0;
  border-color: #e6db55;
  color: #333;
  position: relative;
  margin: 0;
  padding: 10px 20px;
}
.resmush-settings-ui .update-nag p {
  margin: 0;
}
.resmush-settings-ui .update-nag p:last-child {
  margin-bottom: 0;
}
.resmush-settings-ui .update-nag a {
  color: #0073aa;
  text-decoration: none;
  border-bottom: 1px dotted #0073aa;
}
.resmush-settings-ui .update-nag a:hover {
  border-bottom-style: solid;
}

/*# sourceMappingURL=resmush_admin.css.map */
