
@mixin breakpoint($min: 0, $max : 0) {
  @if $min > 0 and $max == 0
  {
    @media (min-width: $min ) { @content; }
  }
  @if $min > 0 and $max > 0
  {
    @media (min-width: $min) and (max-width: $max ) { @content; }
  }
  @if $max > 0 and $min == 0
  {
    @media (max-width: $max) { @content; }
  }

}


@keyframes kofi-wiggle{0%{transform:rotate(0) scale(1)}60%{transform:rotate(0) scale(1)}75%{transform:rotate(0) scale(1.12)}80%{transform:rotate(0) scale(1.1)}84%{transform:rotate(-10deg) scale(1.1)}88%{transform:rotate(10deg) scale(1.1)}92%{transform:rotate(-10deg) scale(1.1)}96%{transform:rotate(10deg) scale(1.1)}100%{transform:rotate(0) scale(1)}}
