@import 'mixins';

.header-panel
{

  margin-top: 25px;
    h2 {
      margin-top: 0;
      color: #fff;
      font-size: 26px;
      margin-bottom: 12px;
    }
    span {
      color: #fff;
      a {
        color: #fff;
      }
    }
    .rsmt-panel {
      background-color: #91cbd8;
      background: linear-gradient(90deg,  #91cbd8 72%,  #96c9a0 99%);
      border-radius: 0.5rem;


    }
}

// Main settings UI

.resmush-settings-ui
{
  // Tabular navigation
  .nav-block
  {
    background: #fff;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    .rsmt-tabs-nav
    {
      // width: 50%;
//       display: block;
       list-style: none;
       margin-top: 50px;

       li {
          font-weight: 700;
          background: #fff;
          cursor: pointer;
          text-align: left;
          font-size:16px;
          margin: 10px 0;
          padding: 5px 5px 5px 30px;
          &.active {
            color: rgb(26, 189, 202);
            //color: #fff;

          }
          a {
              text-decoration: none;
              color: #3c434a;
          }
          .kofi-support {
             padding: 8px;
             line-height: 15px;
             vertical-align: bottom;
             border: 1px solid #1abdca;
             border-radius: 6px;
             width: 120px;
             box-sizing: border-box;
             display: inline-block;
             white-space: nowrap;

             img {
                vertical-align: bottom;
                animation: kofi-wiggle 3s infinite;
             }
             .text {
                font-size: 14px;
                letter-spacing: -0.15px;
                margin-left: 2px;
                color: #1abdca;
             }
          }
       }
       @include breakpoint (0, 1100px)
       {
          li { float: left; }
           .kofi-support {
             margin-top: -5px;
          }
       }
       @include breakpoint(0, 560px)
       {
          li {
            float: none;
          }
       }
    }

  } //nav-block


  // The last panel of a view should have no margin, so the left menu and items line up.
  .rsmt-cols
  {
    background: #fff;
    min-height: 500px;
    &.rsmt-tab
    {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    .rsmt-panel
    {
        margin-bottom: 0;
    //    border-bottom: 1px solid #ccc;
        padding-left: 36px;
        border-radius: 0 0.5rem 0.5rem 0;

				h2.unoptimizedimages
				{
					 margin-top: 0;
				}
    }

    .rsmt-panel:last-child
    {
       margin-bottom: 0;
    }
    &.message-wrapper
    {
       background: none;
    }

    @include breakpoint(0, 1100px)
    {
       min-height: 0;
    }
  }

  // Settings Section
  .rsmt-settings
  {
      input[type="checkbox"]
      {
         margin-right: 6px;
      }
      span { display: block; }
      .number-small {
          width: 70px;
          margin-top: 0;
        //  margin-left: 35px;
      }
  }


  .shortpixel-message
  {
     background-color: #e6faff;
     color: #1ABDCA;
     border: 1px solid #ccc;
     border-radius: 0.5rem;
     margin-left: 12px;
  //   margin-top: 8px;
     padding: 16px;
     img { width: 100%; }
     ul
     {
        list-style: none;
        li {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 12px;
          text-align: center;
       }
     }
     .button-wrapper
     {
        text-align: center;
        margin: 36px 0 10px;
        a {
            font-size: 20px;
            padding: 8px 8px;
            width: 60%;
            font-weight: 700;
            color: #1ABDCA;
            border-color: #1ABDCA;

            &:hover {
              background-color: #1ABDCA;
              color: #e6faff;
            }
        }
     }
     .link-under {
        text-align: center;
        a {
            color: #1ABDCA;
        }

        margin-bottom: 16px;
     }
     @include breakpoint (0, 1100px)
     {
        max-width: 500px;
        margin: 50px auto;
     }
  } // Shortpixel-message

	.rsmt-tab-feedback
	{
			ul {
				list-style:none;
				li:before {
//					content: '✓';
				content: "\f147";
				font-family: 'dashicons';
				font-size: 18px;
				vertical-align: bottom;
				line-height: 18px;
				margin-right: 4px;
				}
			}
	}

  .rsmt-tab-actions {
     .support {
        padding-left: 60px;
     }

  }


// This needs moving somewhere probs.
/*select quality buttons*/
.quality-buttons {
  display: flex;
  flex-wrap: wrap;

  .quality-button {
    background-color: #e0f7fa;
    border: 1px solid #00796b;
    color: #00796b;
    font-weight: bold;
    padding: 8px 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    flex-grow: 1;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    &:hover {
      background-color: #b2ebf2;
      color: #004d40;
    }
    &.active {
      background-color: #00796b;
      color: #ffffff;
      font-weight: bold;
    }
    @include breakpoint(0, 600px)
    {
      flex: 1 1 100%;
      border-radius: 5px;
    }
    @include breakpoint(601px)
    {
      flex: 1;
      border-radius: 0;
      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &:not(:last-child) {
        border-right: none;
      }
    }

  } // quality-button

}


/*notice to seleect new quality settings*/
.update-nag {

  background-color: #ffffe0;
  border-color: #e6db55;
  color: #333;
  position: relative;
  margin: 0;
  padding: 10px 20px;
  p {
    margin: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: #0073aa;
    text-decoration: none;
    border-bottom: 1px dotted #0073aa;
    &:hover {
      border-bottom-style: solid;
    }
  }
}


} // resmush-settings-ui
