.rsmt-page-optimize .illustration img{
	max-width: 200px;
	margin-right: 30px;
}
.rsmt-page-optimize .data .figure {
	font-size: 3em;
	font-weight: bold;
}

.rsmt-page-optimize .data .description {
	font-size: 1em;
	font-weight: bold;
	padding: 2px 8px;
	background-color: #8dcbd7;
	text-transform: uppercase;
	color: #fff;
	font-style: initial;
}
