.rsmt-main-wrapper menu {
	padding: 0;
	margin-top: 0px;
}
.rsmt-main-wrapper menu ul li {
	display: inline;
	margin-right: 10px;
	font-size: 1.2em;
}
.rsmt-main-wrapper menu ul li .typcn:before{
	margin-right: 0.2em;
	font-size: 1.2em;
}
.rsmt-main-wrapper menu ul li a {
	text-decoration: none;
	color: #666;
    height: 30px;
    display: inline-block;
    box-sizing: border-box;
   	padding: 0 7px 0 2px;
   	transition: all 0.25s;
}
.rsmt-main-wrapper menu ul li a:hover {
	border-bottom: 2px solid #8dcbd7;
	color: #8dcbd7;
}
.rsmt-main-wrapper menu ul li a:hover:before {
	color: #8dcbd7;
}
.rsmt-main-wrapper menu ul li a.active {
	color: #8dcbd7;
}
.rsmt-main-wrapper menu ul li a.active:before {
	color: #8dcbd7;
}
